{% if as_service %}
user {{ user }};
pid {{ pid }};
{% else %}
daemon off;
pid {{ pid }};
{% endif %}

worker_processes 1;

events {
  worker_connections 768;
}

http {
  ##
  # Basic Settings
  ##

  sendfile off;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;

  {% if as_service %}
  include /etc/nginx/mime.types;
  {% endif %}
  default_type application/octet-stream;

  ##
  # SSL Settings
  ##

  # ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
  # ssl_prefer_server_ciphers on;

  ##
  # Logging Settings
  ##
  {% if as_service %}
  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;
  {% else %}
  access_log /dev/stdout;
  error_log /dev/stdout info;
  {% endif %}

  ##
  # Gzip Settings
  ##

  gzip off;
  # gzip_disable "msie6";

  server {
    listen {{ port }};
    client_max_body_size 4G;

    server_name {{ server_name }};

    location / {
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect off;
      proxy_buffering off;
      proxy_pass http://aiohttp;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";
    }

    location /cam_data/ {
      root {{ content_root }};
      access_log off;
      expires 3d;
    }
  }

  upstream aiohttp {
    # Unix domain servers
    server unix:{{ socket }} fail_timeout=0;

    # Port-based server
    server 127.0.0.1:{{ rpi_cam_port }} fail_timeout=0;
  }
}